#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  min-height: 70vh;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 2.5px solid #d3d6da;
  width: 60px;
  height: 60px;
}
.time > span {
  font-size: 20px;
  font-weight: bold;
}
.time-title {
  margin-right: 5px;
}
